.books-container {
  display: flex;
}

/* .books-container-dark {
  background-color: #020c1a;
} */

@media (max-width: 480px) {
  .books-container {
    flex-direction: column;
    align-items: center;
  }
}
