.read-date {
   display: flex;
   flex-direction: column;
   width: 5.5rem;
   height: 5.5rem;
   border: 1px solid #ececec;
   background-color: #1b1b1b;
   color: white;
   border-radius: 12px;
   align-items: center;
   justify-content: center;
}

.read-date-month {
   font-size: 1rem;
   font-weight: bold;
}

.read-date-year {
   font-size: 0.75rem;
}

.read-date-day {
   font-size: 1.5rem;
   font-weight: bold;
}
